table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .login-logs {
    border: 2px solid red; 
  }

  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td.user-agent {
    max-width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
  


  .user-management{
    width: 50%;
    display: flex;
    align-items: center;
  }