nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #5c5951;
    padding: 1rem;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .auth-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  