.ViewModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 600px;
  max-height: 80vh; 
  overflow-y: auto; 
  padding: 20px;
  background-color: rgb(240, 237, 237);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.ViewModal h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.ViewModal p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  line-height: 1.6;
}

/* Styling för knapparna */
.ViewModal .button-container {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.ViewModal .decrease-btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
}

.ViewModal .increase-btn {
  background-color: #27ae60;
  color: #fff;
  padding: 8px;
  margin-left: 5px;
}

.ViewModal .add-to-cart-btn {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}

.ViewModal .comment-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  margin-top: 10px;
}

.ViewModal .submit-comment-btn {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}


.ViewModal .close-modal-btn {
  background-color: #ccc;
  color: #333;
  padding: 8px 12px;
  margin-top: 20px;
}

/* hover-effekt för alla knappar */
.ViewModal button:hover {
  background-color: #ff4a3e;
}

/* kommentar-sektion */
.ViewModal .comments-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

/* Kommentarlistan */
.ViewModal .comments-section ul {
  display: flex;
  flex-direction: column; 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Varje kommentar */
.ViewModal .comments-section li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: block;
  word-wrap: break-word; 
}


.ViewModal .comments-section textarea {
  width: 90%;
  padding: 20px 10px;
}
