/*ul för listan med produkter */
.shop ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* varje endkild produkt */
.shop ul li {
  margin: 15px 0;
  padding: 15px;
  background-color: #f7f3f3;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.shop ul li:hover {
  background-color: #f0f0f5;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.shop ul li h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.shop ul li p {
  margin: 5px 0;
  color: #666;
}



.shop ul li button {
  background-color: rgba(0, 0, 255, 0.804);
  margin-top: 20px;
}